<app-user-nav></app-user-nav>

<div
  style="background-color: rgb(245, 245, 245);"
  class="container-fluid pt-4 pb-4"
>
  <div class="container pr-4">
    <div class="row pl-2 mt-3">
      <div class="col p-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">
              This will be the description of the product
            </p>
          </div>
          <div class="card-body border-top text-center">
            <a class="card-link text-primary">Buy</a>
            <a class="card-link text-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col p-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">
              This will be the description of the product
            </p>
          </div>
          <div class="card-body border-top text-center">
            <a class="card-link text-primary">Buy</a>
            <a class="card-link text-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col p-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product 3</h5>
            <p class="card-text">
              This will be the description of the product
            </p>
          </div>
          <div class="card-body border-top text-center">
            <a class="card-link text-primary">Buy</a>
            <a class="card-link text-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row pl-2 mt-3">
      <div class="col p-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product 4</h5>
            <p class="card-text">
              This will be the description of the product
            </p>
          </div>
          <div class="card-body border-top text-center">
            <a class="card-link text-primary">Buy</a>
            <a class="card-link text-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col p-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product 5</h5>
            <p class="card-text">
              This will be the description of the product
            </p>
          </div>
          <div class="card-body border-top text-center">
            <a class="card-link text-primary">Buy</a>
            <a class="card-link text-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col p-3 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product 6</h5>
            <p class="card-text">
              This will be the description of the product
            </p>
          </div>
          <div class="card-body border-top text-center">
            <a class="card-link text-primary">Buy</a>
            <a class="card-link text-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
